# OS
.DS_Store

# Python
*.pyc
*.pyo

# Database
*.db

# Common IDEs
*.swp
.idea/
.buildpath
.project
.settings
atlassian-ide-plugin.xml

# Project
/me/local_settings.py
/me/public/static
/me/public/media
